<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      CONTACT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header style="color: #ffffff; font-size: 16px; text-transform: uppercase">Follow us on Linkedin</ion-list-header>
    <ion-item>
      <ion-icon style="color: royalblue" name="logo-linkedin" slot="start"></ion-icon>
      <a href="https://www.linkedin.com/in/shubham-varshney-7216483b/">@Shubham-Varshney</a>
    </ion-item>
  </ion-list>
</ion-content>